[core]
    editor = nvim
[user]
	email = c4rb0n_unit@protonmail.com
	name = kee-reel
[diff]
    tool = vimdiff
    prompt = false
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    keepBackup = false
